
.noteTextArea{
  min-width:200px;
}

.td-success {
  color: green;
}

.td-danger {
  color: red;
}

.top caption {
  caption-side: top;
}

.table-top{
  margin-top: 50px;
  margin-bottom: 50px;
}

.chart-container{
  height: 50vh;
  min-height: 200px;
  position: relative;
}

.register-header{
  margin-bottom: 20px;
}