.footer-bottom {
    background-color: #222;
    width: 100%;
    margin-top: 30px;
}
.copyright {
    color: #fff;
    line-height: 25px;
    min-height: 25px;
    padding: 3px 0;
}
.design {
    color: #fff;
    line-height: 25px;
    min-height: 25px;
    padding: 3px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

@media only screen and (max-width: 768px) {
	.design {
		text-align: left;
	}
}